## List


**Data Structure:**

A data structure is a collection of data elements(such as numbers or characters - or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

* List is one of the Sequence Data Structure
* Lists are collection of items (Strings, Integers or even other lists)
* Lists are enclosed in [ ]
* Each item in the list has an assigned index value. 
* Each item in a list is separated by a comma
* Lists are mutable, which means they can be changed.

### List Creation

In [2]:
# An empty list
emptyList = []

# list of strings
lst = ['one', 'two', 'three', 'four']

# list of integers
lst2 = [1, 2, 3, 4]

# list of lists
lst3 = [[1,2], [3,4]]

# list of different datatypes
lst4 = [1, 'Deepak', 24, 1.24]

In [7]:
print(lst)

['one', 'two', 'three', 'four']

### List Length

In [5]:
# list of strings
lst = ['one', 'two', 'three', 'four']

# find length of a list
print(len(lst))

4

### List Append

In [8]:
# list of strings
lst = ['one', 'two', 'three', 'four']

# append will add the item at the end
lst.append('five')

In [9]:
print(lst)

['one', 'two', 'three', 'four', 'five']

### List Insert

In [10]:
# syntax: lst.insert(x, y)
lst = ['one', 'two', 'four']

# insert will add element y at location x
lst.insert(2, 'three')

In [11]:
print(lst)

['one', 'two', 'three', 'four']

### List Remove

In [12]:
# syntax: lst.remove(x)

lst = ['one', 'two', 'three', 'four', 'two']

# it will remove the first occurence of 'two' in a given list
lst.remove('two')

In [13]:
print(lst)

['one', 'three', 'four', 'two']

### List Append & Extend

In [14]:
lst1 = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

# append
lst1.append(lst2)

In [15]:
print(lst1)

['one', 'two', 'three', 'four', ['five', 'six']]

In [16]:
lst1 = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

# extend will join the list1 with list2
lst1.extend(lst2)

In [17]:
print(lst1)

['one', 'two', 'three', 'four', 'five', 'six']

### List Delete

In [20]:
# use 'del' to remove item based on index position

lst = ['one', 'two', 'three', 'four','five']

del lst[1]

In [19]:
print(lst)

['one', 'three', 'four', 'five']

In [21]:
# or we can use 'pop()' method
a = lst.pop(1)
print(a)

print(lst)

two
['one', 'three', 'four', 'five']

In [22]:
# we can also use 'remove' method
lst = ['one', 'two', 'three', 'four']

# remove an item from list
lst.remove('two')

print(lst)

['one', 'three', 'four']

### List related keywords in Python

In [23]:
lst = ['one', 'two', 'three', 'four']

# keyword 'in' is used to test if an item is present in a list
if 'two' in lst:
    print('AI')
    
# keyword 'not' can be combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

### List Reverse

In [24]:
# 'reverse' method reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

### List Sorting

The easiest way to sort a list is with the sorted(list) function. 

That takes a list and returns a new list with those elements in sorted order. 

The original list is not changed. 

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backward.

In [26]:
# create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)  #ascending order

print("Sorted list :", sorted_lst)

# original list remains unchanged
print("\nOriginal list:", numbers)

Sorted list : [1, 2, 3, 6, 8]

Original list: [3, 1, 6, 2, 8]

In [27]:
# sort a list in reverse(descending) order
print("Reverse sorted list :", sorted(numbers, reverse=True))

# original list remains unchanged
print("\nOriginal list:", numbers)

Reverse sorted list : [8, 6, 3, 2, 1]

Original list: [3, 1, 6, 2, 8]

In [28]:
lst = [1, 20, 5, 5, 4.2]

# sort the original list
lst.sort()

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [30]:
# sorting a list with characters
lst = ['a', 'c', 'b', 'd']

lst.sort()

print(lst)

['a', 'b', 'c', 'd']

In [29]:
lst = [1, 20, 'b', 5, 'a']

# we can't sort list with element of different datatypes
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

### List having multiple references

In [31]:
lst = [1, 2, 3, 4, 5]

abc = lst

abc.append(6)

# print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

### String Split to create a list

In [32]:
s = "one, two, three, four, five"

slst = s.split(',')

print(slst)

['one', ' two', ' three', ' four', ' five']

In [34]:
s = "This is a test sentence"

# default split is white-character: space or tab
split_lst = s.split()

print(split_lst)

['This', 'is', 'a', 'test', 'sentence']

### List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [35]:
lst = [1, 2, 3, 4]

# print second element
print(lst[1])

2

In [36]:
# print last element using negative index
print(lst[-1])

4

### List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the ':end' value represents the first value that is not in the selected slice.

In [38]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]


# print all the numbers
print(numbers[:])

# print from index 0 to index 3
print(numbers[0:4])    #[start:end]

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [39]:
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80]

In [40]:
# print alternate elements in a list
print(numbers[::2])   #[start:end:step size]

[10, 30, 50, 70]

In [41]:
# print elements start from 2 through rest of the list with a step size of 2
print(numbers[2::2])  #[start:end:step size]

[30, 50, 70]

### List extend using "+"

In [42]:
lst1 = [1, 2, 3, 4]

lst2 = ['Deepak','Priya', 'Rahul', 'Ajay']

new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'Deepak', 'Priya', 'Rahul', 'Ajay']

### List Count

In [43]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

# frequency of 1 in a list
print(numbers.count(1))

2

In [44]:
# frequency of 3 in a list
print(numbers.count(3))

2

### List Looping

In [45]:
# loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

### List Comprehensions

List comprehensions provie a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [47]:
# example without list comprehension

squares = []

for i in range(10):
    squares.append(i**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
# using list comprehension
squares = [i**2 for i in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
# another example

lst = [-10, -20, 10, 20, 50]

# create a new list with values doubled
new_lst = [i*2 for i in lst]

print(new_lst)

[-20, -40, 20, 40, 100]

In [50]:
# filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]

print(new_lst)

[10, 20, 50]

In [51]:
# create a list of tuples like (number, squares_of_number)
new_lst = [(i, i**2) for i in range(10)]

print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

### Nested List Comprehensions

In [52]:
# let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]


# transpose of a matrix without list comprehension
transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [53]:
# with list comprehension

transposed = [[row[i] for row in matrix] for i in range(4)]

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]