## Tuples

* A tuple is similar to list
* The difference between the two is that we can't change the elements of tuple once it is assigned whereas in the list elements can be changed.

### Tuple Creation

In [1]:
# empty tuple
t = ()

In [2]:
# tuple with integers
t = (1, 2, 3)

print(t)

(1, 2, 3)

In [3]:
# tuple with mixed datatypes
t = (1, 'Deepak', 28, 'abc')

print(t)

(1, 'Deepak', 28, 'abc')

In [4]:
# nested tuple
t = (1, (2, 3, 4), [1, 'Deepak', 28, 'abc'])

print(t)

(1, (2, 3, 4), [1, 'Deepak', 28, 'abc'])

In [8]:
print(t[1])

(2, 3, 4)

In [9]:
# only parenthesis is not enough
t = ('Deepak')

type(t)

str

In [10]:
# need a comma at the end
t = ('Deepak',)

type(t)

tuple

In [11]:
# parenthesis is optional
t = "Deepak",

print(type(t))

<class 'tuple'>

In [12]:
print(t)

('Deepak',)

### Accessing Elements in Tuple

In [13]:
t = ('Deepak', 'Priya', 'Rahul', 'Sunny', 'Ajay')

print(t[1])

Priya

In [14]:
# negative index, print the last element in a tuple

print(t[-1])

Ajay

In [15]:
# nested tuple
t = ('ABC', ('Deepak', 'Rahul', 'Sanjay'))

print(t[1])

('Deepak', 'Rahul', 'Sanjay')

In [16]:
# print 2nd index from the inside tuple, from index 1 of main tuple
print(t[1][2])

Sanjay

In [17]:
# Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

(2, 3, 4)

In [18]:
# print elements from starting to 2nd last elements
print(t[:-2])

(1, 2, 3, 4)

In [19]:
# print elements from starting to end
print(t[:])

(1, 2, 3, 4, 5, 6)

### Changing a Tuple

* Unlike lists, tuples are immutable.
* This means that elements of a tuple can't be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [20]:
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [21]:
# As list is mutable, we can change it's element
t[4][1] = 'Deepak'

print(t)

(1, 2, 3, 4, [5, 'Deepak', 7])

In [22]:
# Concatinating tuples
t = (1, 2, 3) + (4, 5, 6)

print(t)

(1, 2, 3, 4, 5, 6)

In [23]:
# Repeat the elements in a tuple for a given number of times using the * operator.
t = (('Deepak',) *4)

print(t)

('Deepak', 'Deepak', 'Deepak', 'Deepak')

### Tuple Deletion

* We cannot change the elements in a tuple.
* That also means we cannot delete or remove items from a tuple.

In [25]:
# delete entire tuple using 'del' keyword
t = (1, 2, 3, 4, 5, 6)

del t

NameError: name 't' is not defined

### Tuple Count

In [26]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

# get the frequency of a particular element appears in a tuple
t.count(1)

3

### Tuple Index

In [27]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

# return the index of the first element which is equal to 3
print(t.index(3))

2

### Tuple Membership

In [28]:
# check if an item exists in a tuple or not
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [29]:
print(7 in t)

False

### Tuple Length

In [30]:
t = (1, 2, 3, 4, 5, 6)

print(len(t))

6

### Tuple Sort

In [31]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)

print(new_t)

[1, 2, 3, 4, 5]

In [32]:
# get the largest element in a tuple

t = (2, 5, 1, 6, 9)

print(max(t))

9

In [33]:
# get the smallest element in a tuple
print(min(t))

1

In [34]:
# get the sum of all elements in the tuple
print(sum(t))

23