## Variables

* A variable is a location in memory used to store some data. 


* They are given unique names to differentiate between different memory location. the rules for writing a variable name is same as the rules for writing identifiers in Python. 


* We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

### Variable Assignments

In [1]:
a = 10   # Integer
b = 5.5  # float
c = "ML" # string

### Multiple Assignments

In [2]:
a, b, c = 10, 5.5, "ML"

In [3]:
a = b = c = "AI"

### Storage Locations

In [2]:
# x and y points to the same memory location, until both has same values assigned.
x = 3 

print(id(x))

2088870177136

In [7]:
y = 3

print(id(y))

2251619199344

In [8]:
# A different value assigned to 'y' will allocate a different memory location.
y = 2

print(id(y))

2251619199312

### Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, datatypes are actually classes and variables are instance (object) of these classes. 


### Numbers

Integers, floating point numbers and complex numbers falls under Python number category. They are defined as int, float and complex class in Python. 


We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [9]:
a = 5

print(a, " is of type", type(a))

5  is of type <class 'int'>

In [10]:
a = 2.5

print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [1]:
a = 1 + 2j

print(a, " is complex number?")
print(isinstance(1+2j, complex))
print(isinstance(a, complex))
print(type(a))

(1+2j)  is complex number?
True
True
<class 'complex'>

### Boolean

Boolean represents the truth values True and False

In [2]:
a = True

print(type(a))

<class 'bool'>

### Python Strings


String is sequence of Unicode characters.

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """. 



A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

In [13]:
s = "This is online AI course"

print(s)
print(type(s))

This is online AI course
<class 'str'>

In [9]:
s = """This is online 
       AI course"""

print(s)
print(type(s))

This is online
       AI course
<class 'str'>

In [14]:
# Indexing a string
print(s[0])

T

In [16]:
# reading backward
print(s[-1])

e

In [15]:
# Slicing 
s[5:]

'is online AI course'

In [17]:
s[5:10]

'is on'

### Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type. 


Items are separated by commas and enclosed within brackets [ ].

In [18]:
a = [10, 20.5, "Hello"]

print(a[1])

20.5

Lists are mutable, meaning value of elements of a list can be altered.

In [19]:
a[1] = 30.7

print(a)

[10, 30.7, 'Hello']

### Python Tuple

Tuple is an ordered sequence of items same as list. The only difference is that tuples are immutable. 

Tuples once created cannot be modified, i.e. Tuples are immutable.

In [20]:
t = (1, 1.5, "ML")

print(t[1])

1.5

In [21]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

### Python Set

Set is an unordered collection of unique items. 

Set is defined by values separated by comma inside braces { }.

In [23]:
a = {10, 30, 20, 40, 5}

print(a)

{20, 5, 40, 10, 30}

In [24]:
print(type(a))

<class 'set'>

We can perform set operations like Union, Intersection on two sets.

In [25]:
s = {10, 20, 20, 30, 30, 30}

print(s)

{10, 20, 30}

In [28]:
# We can't index in Set because it's an unordered collection of items.
print(s[1])

TypeError: 'set' object is not subscriptable

### Python Dictionary

Dictionary is an unordered collection of key-value pairs. 

In Python, dictionaries are defined within braces { } with each item being a pair in the form key:value

Key and value can be of any type.

In [29]:
d = {'a': "apple", 'b': "bat"}

print(d['a'])

apple

In [31]:
d1 = {'Fruits': ['Apple', 'Banana', 'Cherry', 'Lichi'], 'Vegetables': ['Patato', 'Tomato', 'Onion']}

print(d1)

print(d1['Fruits'])

{'Fruits': ['Apple', 'Banana', 'Cherry', 'Lichi'], 'Vegetables': ['Patato', 'Tomato', 'Onion']}
['Apple', 'Banana', 'Cherry', 'Lichi']

### Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [32]:
# Convert integer to float
float(5)

5.0

In [35]:
# Convert float to integer
int(100.5)

100

In [36]:
# Convert integer to string
str(20)

'20'

##### Note: Conversion to and from string must contain compatible values.

In [37]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [39]:
user = "Deepak"
lines = 100

print("Congratulations, "+ user + "! You just wrote " + str(lines) + " lines of code.")

Congratulations, Deepak! You just wrote 100 lines of code.

We can convert one sequence to another.

In [40]:
a = [1, 2, 3]

print(type(a))

<class 'list'>

In [41]:
s = set(a)

print(type(s))

<class 'set'>

In [43]:
# Convert string to list
list("Hello")

['H', 'e', 'l', 'l', 'o']